{% extends 'core/base.html.twig' %}
{% form_theme InformationModificationForm 'bootstrap_5_layout.html.twig' %}
{% form_theme PasswordModificationForm 'bootstrap_5_layout.html.twig' %}


{% block content %}
	<h1 class="mt-5 fw-bold fst-italic">Your profile</h1>
	<div class="row">
		<div class="col-lg-8 mx-auto text-muted">

			{% for flash in app.flashes('informations')%}
				<div class="alert my-3 {{ flash.color }}">{{ flash.content }}</div>
			{% endfor %}

			{{ form_start(InformationModificationForm , {'attr': {'class': 'needs-validation-register', 'novalidate': 'novalidate' }}) }}
			<div class="row">
				<div class="col-6">
					{{ form_row(InformationModificationForm.email) }}
				</div>
				<div class="col-6">
					{{ form_row(InformationModificationForm.telephone, { 'attr': {'class': 'txtPhone' }}) }}
				</div>
				<div class="col-6">
					{{ form_row(InformationModificationForm.nom) }}
				</div>
				<div class="col-6">
					{{ form_row(InformationModificationForm.prenom) }}
				</div>
				<div class="col-6">
					{{ form_row(InformationModificationForm.adresse) }}
				</div>
				<div class="col-6" value="">
					{{ form_row(InformationModificationForm.ville) }}
				</div>
				<div class="col-3">
					{{ form_row(InformationModificationForm.codePostal, {'attr': {'class': 'txtPostalCode'}}) }}
				</div>
				<div class="col-4">
					{{ form_row(InformationModificationForm.province) }}
				</div>
				<div class="d-flex justify-content-center">
					{{ form_row(InformationModificationForm.update) }}
				</div>
			</div>
			{{ form_end(InformationModificationForm) }}
		</div>
		<div class="col-lg-8 mx-auto text-muted mt-5">

			{% for flash in app.flashes('password')%}
				<div class="alert my-3 {{ flash.color }}">{{ flash.content }}</div>
			{% endfor %}

			{{ form_start(PasswordModificationForm, {'attr': {'class': 'needs-validation-register', 'novalidate': 'novalidate' }}) }}
			<div class="row ">
				<div class="col-12 mt-3">
					{{ form_row(PasswordModificationForm.oldPassword) }}
				</div>
				<div class="col-6">
					{{ form_row(PasswordModificationForm.newPassword.first) }}
				</div>
				<div class="col-6">
					{{ form_row(PasswordModificationForm.newPassword.second) }}
				</div>
			</div>
			{{ form_end(PasswordModificationForm) }}
		</div>
	</div>
{% endblock %}


{% block stylesheets %}{% endblock %}

{% block javascripts %}
	<script defer src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>
	<script defer src="{{ asset('scripts/register.js')}}"></script>
{% endblock %}
