{% extends 'core/base.html.twig' %}

{% block content %}
	<div class="row justify-content-center mt-3">
		<div class="col-8 rounded-3 shadow p-3 bg-body">
			<h3 class="fst-italic fw-bold">Your command</h3><hr>

			{% for flash in app.flashes('achat') %}
				<div class="alert {{ flash.color }}">{{ flash.content }}</div>
			{% endfor %}

			<table class="table table-bordered">
				<thead>
					<tr class="bg-secondary fw-bold text-white text-center">
						<th scope="col">
							Product
						</th>
						<th scope="col">
							Name
						</th>
						<th scope="col">
							Price
						</th>
						<th scope="col">
							Quantity
						</th>
						<th scope="col">
							Total
						</th>
						<th scope="col">
							Interaction
						</th>
					</tr>
				</thead>
				<tbody class="text-center align-middle">

					<form action="{{ path('app_update_achat') }}" method="POST">
						{% for key, achat in achatlist.achats %}
							<tr>
								<td class="" style="width: 95px;">
									<img class="img-fluid" style="height: 80px;" src="{{ asset_if('images/' ~ achat.produit.imagePath, 'images/imageNonDispo.png' )}}" alt="product">
								</td>
								<td class="" style="">
									<label class="fw-bold ">{{achat.produit.nom}}</label>
								</td>
								<td class="" style="">
									<label class="fw-bold ">{{achat.produit.prix}}
										$</label>
								</td>
								<td class="">
									<input name="{{ 'txtQuantiteAchat[' ~ key ~ ']' }}" type="number" class="text-center" style="width: 40px;" value="{{ achat.getQuantite() }}">
								</td>
								<td class="">
									<label class="fw-bold " value="">{{ achat.getPrixAchat()|number_format(2, '.', ',') }}
										$</td>
								</td>
								<td class="">
									<a class="product-modal" style="text-decoration: none" href="{{ path('product_modal', {idProduit: achat.produit.idProduit}) }}">
										<span style="font-size: 1.2em; color: Mediumslateblue;">
											<i class="fa-solid fa-eye"></i>
										</span>
									</a>
									<a class="ms-1" style="text-decoration: none" href="{{ path('app_delete_achat', { idProduit: key }) }}">
										<span style="font-size: 1.2em; color: Tomato;">
											<i class=" fa-solid fa-trash"></i>
										</span>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
			{% for flash in app.flashes('panier') %}
				<div class="alert {{ flash.color }}">{{ flash.content }}</div>
			{% endfor %}
			<div class="row justify-content-center mt-4">
				<a href="{{ path('app_home') }}" class="col-3 fw-bold btn btn-secondary">
					Quit<i class="ms-3 fa-solid fa-person-walking-arrow-right"></i>
				</a>
				<button name="action" value="update" type="submit" class="col-3 fw-bold btn btn-secondary ms-2">Update the basket
					<i class="ms-3 fa-sharp fa-solid fa-pen-to-square"></i>
				</button>

				<button name="action" value="empty" type="submit" class="col-3 fw-bold btn btn-secondary ms-2">Clear the basket
					<i class="ms-3 fa-sharp fa-solid fa-trash"></i>
				</button>
			</div>
		</form>
	</div>


	<div class="col-3 rounded-3 shadow p-3 bg-body ms-2">
		<h3 class="fst-italic fw-bold">Summary</h3><hr>
		<div class="row ms-2 mt-4">
			<h5 class="col-6 ">Subtotal</h5>
			<label class="col-5 fw-bold text-end">
				{{ panier.getTotal()|number_format(2, '.', ',') }}
				$
			</label><hr>
		</div>
		<div class="row ms-2 mt-4">
			<h5 class="col-6">TPS</h5>
			<label class="col-5 fw-bold text-end">
				{{ panier.getTPS()|number_format(2, '.', ',') }}
				$
			</label><hr></div>
		<div class="row ms-2 mt-4">
			<h5 class="col-6">TVQ</h5>
			<label class="col-5 fw-bold text-end">
				{{ panier.getTVQ()|number_format(2, '.', ',') }}
				$
			</label><hr></div>
		<div class="row ms-2 mt-4">
			<h5 class="col-6">Shipping cost</h5>
			<label class="col-5 fw-bold text-end">{{ fraislivraison|number_format(2, '.', ',') }}
				$</label><hr></div>
		<div class="row ms-2 mt-4 ">
			<h5 class="col-6 text-primary fw-bold">Totals</h5>
			<label class="col-5 fw-bold text-end ">
				{{ panier.getSommeTotal()|number_format(2, '.', ',') }}
				$
			</label>
			<div class="mt-3 row justify-content-center">
				<button class="btn mt-2 fw-bold btn-success w-75">Order
					<i class="ms-2 fa-solid fa-sack-dollar"></i>
				</button>
			</div>
		</div>


	</div>

	{# Pour le modal #}
	<div class="modal" tabindex="-1" id="product-modal">
		<div class="modal-dialog">
			<div id="product-modal-content" class="modal-content"></div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('scripts/modal.product.js') }}"></script>
{% endblock %}
