{% extends 'core/base.html.twig' %}

{% block title %}Lake Performance
{% endblock %}

{% block content %}
	{# TODO Faire en sorte que le nom change a chaque fois que je change de produit #}
	<h1 class="mt-4">Canoe</h1>
	<div class="row">
		<div class="col-2 rounded-3" style="height: 500px; background-color: #ECEFF1;">
			<ul class="mt-3">
				<p><input class="me-2" type="checkbox" id="tout">Tout</p>
				<p><input class="me-2" type="checkbox" id="tout">Canoe</p>
				<p><input class="me-2" type="checkbox" id="tout">Kayak</p>
				<p><input class="me-2" type="checkbox" id="tout">Paddle</p>
			</ul>
		</div>
		<div class="row col-10 ms-2 justify-content-center">
			<div class="col-3 card mx-2 my-2">
				<div class="card-body">
					<h5 class="card-title text-center">Canoe 1</h5>
					<img class="ms-1" src="{{asset('images/canoe1.jpg')}}" alt="">
					<hr>
					<P class="fw-bold text-center mt-2">2459.99$</P>
					<button class="btn justify-content-center" type="button" style="background-color: #ECEFF1;">
						Add in
						<img style="height: 25px; margin-bottom: 3px;" class="align-middle" src="{{asset('images/basket.png')}}" alt=""/>
					</button>
				</div>
			</div>
			<div class="col-3 card mx-2 my-2">
				<div class="card-body">
					<h5 class="card-title text-center">Canoe 1</h5>
					<img class="ms-1" src="{{asset('images/canoe1.jpg')}}" alt="">
					<hr>
					<P class="fw-bold text-center mt-2">2459.99$</P>
					<button class="btn justify-content-center" type="button" style="background-color: #ECEFF1;">
						Add in
						<img style="height: 25px; margin-bottom: 3px;" class="align-middle" src="{{asset('images/basket.png')}}" alt=""/>
					</button>
				</div>
			</div>
			<div class="col-3 card mx-2 my-2">
				<div class="card-body">
					<h5 class="card-title text-center">Canoe 1</h5>
					<img class="ms-1" src="{{asset('images/canoe1.jpg')}}" alt="">
					<hr>
					<P class="fw-bold text-center mt-2">2459.99$</P>
					<button class="btn justify-content-center" type="button" style="background-color: #ECEFF1;">
						Add in
						<img style="height: 25px; margin-bottom: 3px;" class="align-middle" src="{{asset('images/basket.png')}}" alt=""/>
					</button>
				</div>
			</div>
			<div class="col-3 card mx-2 my-2">
				<div class="card-body">
					<h5 class="card-title text-center">Canoe 1</h5>
					<img class="ms-1" src="{{asset('images/canoe1.jpg')}}" alt="">
					<hr>
					<P class="fw-bold text-center mt-2">2459.99$</P>
					<button class="btn justify-content-center" type="button" style="background-color: #ECEFF1;">
						Add in
						<img style="height: 25px; margin-bottom: 3px;" class="align-middle" src="{{asset('images/basket.png')}}" alt=""/>
					</button>
				</div>
			</div>
			<div class="col-3 card mx-2 my-2">
				<div class="card-body">
					<h5 class="card-title text-center">Canoe 1</h5>
					<img class="ms-1" src="{{asset('images/canoe1.jpg')}}" alt="">
					<hr>
					<P class="fw-bold text-center mt-2">2459.99$</P>
					<button class="btn justify-content-center" type="button" style="background-color: #ECEFF1;">
						Add in
						<img style="height: 25px; margin-bottom: 3px;" class="align-middle" src="{{asset('images/basket.png')}}" alt=""/>
					</button>
				</div>
			</div>
			<div class="col-3 card mx-2 my-2">
				<div class="card-body">
					<h5 class="card-title text-center">Canoe 1</h5>
					<img class="ms-1" src="{{asset('images/canoe1.jpg')}}" alt="">
					<hr>
					<P class="fw-bold text-center mt-2">2459.99$</P>
					<button class="btn justify-content-center" type="button" style="background-color: #ECEFF1;">
						Add in
						<img style="height: 25px; margin-bottom: 3px;" class="align-middle" src="{{asset('images/basket.png')}}" alt=""/>
					</button>
				</div>
			</div>
			<div class="col-3 card mx-2 my-2">
				<div class="card-body">
					<h5 class="card-title text-center">Canoe 1</h5>
					<img class="ms-1" src="{{asset('images/canoe1.jpg')}}" alt="">
					<hr>
					<P class="fw-bold text-center mt-2">2459.99$</P>
					<button class="btn justify-content-center" type="button" style="background-color: #ECEFF1;">
						Add in
						<img style="height: 25px; margin-bottom: 3px;" class="align-middle" src="{{asset('images/basket.png')}}" alt=""/>
					</button>
				</div>
			</div>
		</div>

	</div>
</div>{% endblock %}
