{% extends 'core/base.html.twig' %}

{% block title %}Lake Performance
{% endblock %}

{% block content %}
	{# TODO Faire en sorte que le nom change a chaque fois que je change de produit #}
	<h1 class="mt-4 ">Products</h1>
	<div
		class="row ">
		{# TODO Faire en sorte que la card ne monte pas jusqu'en haut #}
		<div class="col-2 sticky-top rounded-3 shadow p-3 mb-5 bg-body" style="height: 500px; top:100px;">
			<ul class="" style="padding-top: 50px;">
				<li style="list-style-type:none;">
					<a class="fw-bold" style="text-decoration: none;" href="{{ path('app_home') }}">All Products</a>
				</li>
				{% for category in categories %}
					<li style="list-style-type:none; ">
						<a style="text-decoration: none;" href="{{ path('app_home', { category: category.idCategorie}) }}" class="me-2 ">{{ category.categorie }}</a>
					</li>
				{% endfor %}
				<hr>
				<p><input class="me-2 form-check-input" style="margin-top:7px;" type="radio" id="tout">Prix
					<img src="{{asset('images/arrowUp.png')}}" style="height: 25px; margin-bottom: 7px;"/></p>
				<p><input class="me-2 form-check-input" style="margin-top:7px;" type="radio" id="tout">Prix
					<img src="{{asset('images/arrowDown.png')}}" style="height: 25px; margin-bottom: 7px;"/></p>
			</ul>
		</div>
		<div class="row col-10 ms-2 justify-content-center">
			{% if products|length > 0 %}
				{% for product in products %}
					<div class="col-3 card mx-2 my-2 shadow p-3 mb-5 bg-body">
						<div class="card-body">
							<a class="product-modal" href="{{ path('product_modal', {idProduit: product.idProduit}) }}" style="text-decoration: none;">
								<h5 class="card-title text-center" style="height: 75px;">{{ product.nom }}</h5>
							</a>
							<a class="product-modal" href="{{ path('product_modal', {idProduit: product.idProduit}) }}">
								<img class="img-fluid" style="height: 200px;" src="{{asset('images/' ~ product.imagePath)}}" alt="">
							</a>
							<hr>
							<p type="number" class="fw-bold text-center mt-2">{{product.prix|number_format(2, '.', ',') }} $</p>
							<div class="row justify-content-center">
								<form method="POST" action="{{ path('app_ajout_panier', {idProduit: product.idProduit}) }}">
									<button class="btn btn-outline-secondary fw-bold shadow p-2" type="submit">
										Add in
										<img style="height: 25px; margin-bottom: 3px;" class="img-fluid" src="{{asset('images/basket.png')}}" alt=""/>
									</button>
								</form>
							</div>
							<p class="mt-2" style="color: gray;">In Stock:
								{{product.quantiteEnStock}}</p>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p>No products fond with the search request</p>
			{% endif %}
		</div>
	</div>
	<div class="modal" tabindex="-1" id="product-modal">
		<div class="modal-dialog">
			<div id="product-modal-content" class="modal-content"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('scripts/modal.product.js') }}"></script>
{% endblock %}
