{% extends 'core/base.html.twig' %}

{% block title %}Lake Performance
{% endblock %}

{% block content %}
	{# TODO Faire en sorte que le nom change a chaque fois que je change de produit #}
	<h1 class="mt-4">Canoe</h1>
	<div
		class="row ">
		{# TODO Faire en sorte que la card ne monte pas jusqu'en haut #}
		<div class="col-2 sticky-top rounded-3 shadow p-3 mb-5 bg-body" style="height: 500px;">
			<ul class="mt-3" style="padding-top: 50px;">
				<p class="fst-italic"><input class="me-2 form-check-input" type="radio" id="tout">Tout</p>
				<p><input class="me-2 form-check-input" type="radio" id="tout">Canoe</p>
				<p><input class="me-2 form-check-input" type="radio" id="tout">Kayak</p>
				<p><input class="me-2 form-check-input" type="radio" id="tout">Paddle</p>
				<hr>
				<p><input class="me-2 form-check-input" type="radio" id="tout">Prix ⬆️</p>
				<p><input class="me-2 form-check-input" type="radio" id="tout">Prix ⬇️</p>
			</ul>
		</div>
		<div class="row col-10 ms-2 justify-content-center">
			{% for product in products %}
				<div class="col-3 card mx-2 my-2 shadow p-3 mb-5 bg-body">
					<div class="card-body">
						<h5 class="card-title text-center">{{ product.nom }}</h5>
						<img class="justify-content-center" style="height: 200px;" src="{{asset('images/' ~ product.imagePath)}}" alt="">
						<hr>
						<p class="fw-bold text-center mt-2">{{product.prix}}</p>
						<div class="row justify-content-center">
							<button class="btn fw-bold" type="button" style="background-color: #ECEFF1;">
								Add in
								<img style="height: 25px; margin-bottom: 3px;" class="" src="{{asset('images/basket.png')}}" alt=""/>
							</button>
						</div>
						<p class="mt-2" style="color: gray;">In Stock:
							{{product.quantiteEnStock}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	{# <script href="{{asset('script/cardOver.js')}}"/> #}
{% endblock %}
