<div class="modal-header">
	<h5 class="modal-title">{{ produit.nom }}</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
	<label class="text-center">{{ produit.description }}</lable>
	<div>
		{# TODO: Make it work #}
		<p>
			{{ produit.mainCategorie.categorie }}
		</p>
		<p class="fw-bold">
			Price :
			{{ produit.prix }}
			$
		</p>
	</div>
</p>
<p>
	In Stock :
	{{ produit.quantiteEnStock }}</p></div><div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
