{% extends 'core/base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block content %}
	<h1 class="mt-5">Création d'un compte</h1>
	<div class="row">
		<div class="col-lg-8 mx-auto text-muted">
			<p>Si vous possédez déjà un compte client, veuillez vous
				{# <a href="{{ path('app_login') }}">connectez ici</a> #}
			</p>
			{# {% for flash in app.flashes('register')%}
				<div class="alert my-3 {{ flash.color }}">{{ flash.content }}</div>
			{% endfor %} #}

			{{ form_start(registrationForm , {'attr': {'class': 'needs-validation-register', 'novalidate': 'novalidate' }}) }}
			<div class="row">
				<div class="col-6">
					{{ form_row(registrationForm.email) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.telephone) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.nom) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.prenom) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.password.first) }}
				</div>
				<div class="col-6">
					{{ form_row(registrationForm.password.second) }}
				</div>
                <div class="col-6">
					{{ form_row(registrationForm.adresse) }}
				</div>
                <div class="col-6">
					{{ form_row(registrationForm.ville) }}
				</div>
                <div class="col-3">
                    {{ form_row(registrationForm.codePostal) }}
                </div>
                <div class="col-4">
                    {{ form_row(registrationForm.province) }}
                </div>
			</div>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
