{# Inspirer à partir de : https://mdbootstrap.com/snippets/standard/mdbootstrap/2948983?view=side#! #}

<!-- Navbar -->
	<nav
	class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style=""> <!-- Container wrapper -->

	<div
		class="container">
		<!-- Navbar brand -->
		<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{asset('images/lakePerformance.png')}}" alt="LakePerformance Logo" draggable="false" height="40"/></a>

		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="me-5 row ">
				{% if is_granted("ROLE_ADMIN") %}
					<div class="dropdown col-7">
						<button id="dropDownLanguage" class="btn btn-light dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 0.4rem;">Admin</button>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropDownLanguage">

							<li>
								<a class="dropdown-item" href="{{ path('app_admin_categories') }}">
									<span class="fa-li pe-2">
										<i class="fa-solid fa-house"></i>
									</span>Categories
								</a>
								<a class="dropdown-item" href="{{ path('app_admin_new_product') }}">
									<span class="fa-li pe-2">
										<i class="fas fa-bookmark pe-2"></i>
									</span>New Product
								</a>
								<a class="dropdown-item" href="{{ path('app_admin_products') }}">
									<span class="fa-li pe-2">
										<i class="fa-solid fa-basket-shopping"></i>
									</span>Products
								</a>
								<a class="dropdown-item" href="{{ path('app_admin_orders') }}">
									<span class="fa-li pe-2">
										<i class="fa-solid fa-bag-shopping"></i>
									</span>Order(s)
								</a>
							</li>
						</ul>
					</div>
				{% endif %}
				<div class="dropdown col-3">
					<button id="dropDownLanguage" class="btn btn-light dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 0.4rem;">Menu</button>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropDownLanguage">

						<li>
							<a class="dropdown-item" href="{{ path('app_home') }}">
								<span class="fa-li pe-2">
									<i class="fa-solid fa-house"></i>
								</span>Home
							</a>
							<a class="dropdown-item" href="{{ path('route_contact') }}">
								<span class="fa-li pe-2">
									<i class="fas fa-bookmark pe-2"></i>
								</span>Contact
							</a>
							<a class="dropdown-item" href="{{ path('app_panier') }}">
								<span class="fa-li pe-2">
									<i class="fa-solid fa-basket-shopping"></i>
								</span>Basket
							</a>
							<a class="dropdown-item" href="{{ path('app_mycommands') }}">
								<span class="fa-li pe-2">
									<i class="fa-solid fa-bag-shopping"></i>
								</span>My command(s)
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Left links -->
			<div class="w-75 form-search">
				<div class="input-group">
					<form class="d-flex align-items-center w-100" method="POST" action="{{ app.request.uri }}">
						<input name="category" type="hidden" value="{{ search_category }}">
						<input name="search_field" type="search" class="form-control" placeholder="Product search" aria-label="Search">
						<button class="btn" type="submit"><img style="height: 30px; width: 30px;" class="ms-2" src="{{asset('images/search.png')}}"></button>
					</form>
				</div>
			</div>

			<ul class="navbar-nav ms-3">
				<li class="nav-item">
					<a class="nav-link d-flex align-items-center me-2" href="{{ path('route_contact') }}">
						<i class="fas fa-bookmark pe-2 text-success"></i>
						Contact
					</a>
				</li>
				{% if app.user %}
					<li class="nav-item me-2" style="width: 85px;">
						<a class="nav-link d-flex align-items-center" href="{{ path('app_profile') }}">
							<i class="fa-solid fa-user text-success me-2"></i>Profile</a>
					</li>
					<li class="nav-item" style="width: 75px;">
						<a class="nav-link d-flex align-items-center bg-secondary rounded-2" href="{{ path('app_logout') }}">Log out</a>
					</li>
				{% else %}
					<li class="nav-item" style="width: 65px;">
						<a class="nav-link d-flex align-items-center" href="{{ path('app_login') }}">Sign In</a>
					</li>
					<li class="nav-item" style="width: 75px;">
						<a class="nav-link d-flex align-items-center bg-secondary rounded-2" href="{{ path('app_register') }}">Sign Up</a>
					</li>
				{% endif %}

			</ul>
		</div>
		<!-- Collapsible wrapper -->
		<div class="ms-2">
			<a href="{{ path('app_panier') }}" style="text-decoration: none;">
				<span class="fa-layers">
					<i class="fa-solid fa-basket-shopping text-success" style="font-size: 1.2em;"></i>
					<span
						class="fa-layers-counter fa-fw fw-bold" style="color:Dodgerblue; border-radius: 25px;">{# TODO: count sur le nombre d'objet dans liste achat #}
					</span>
				</span>
			</a>
		</div>
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
