{# Inspirer à partir de : https://mdbootstrap.com/snippets/standard/mdbootstrap/2948983?view=side#! #}

<!-- Navbar -->
	<nav
	class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style=""> <!-- Container wrapper -->

	<div
		class="container">
		<!-- Navbar brand -->
		<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{asset('images/lakePerformance.png')}}" alt="LakePerformance Logo" draggable="false" height="40"/></a>
		<div class="ms-2 dropdown">
			<button id="dropDownLanguage" class="btn btn-light dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 0.4rem;">English</button>
			<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropDownLanguage">
				<li>
					<a class="dropdown-item" href="#">
						<span class="fa-li pe-2">
							<i class="fas fa-search"></i>
						</span>Francais
					</a>
				</li>
			</ul>
		</div>
		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="ms-2 dropdown me-2">
				<button id="dropDownLanguage" class="btn btn-light dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 0.4rem;">Menu</button>
				<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropDownLanguage">
					<li>
						<a class="dropdown-item" href="#">
							<span class="fa-li pe-2">
								<i class="fas fa-search"></i>
							</span>Production
						</a>
					</li>
				</ul>
			</div>
			<!-- Left links -->
			<form class="d-flex align-items-center w-100 form-search">
				<div class="input-group">
					<button class="btn btn-light dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 0.4rem;">
						All
					</button>
					<ul class="dropdown-menu dropdown-menu-dark fa-ul">
						
						<li>
							<a class="dropdown-item" href="#">
								<span class="fa-li pe-2">
									<i class="fas fa-search"></i>
								</span>Tout</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">
								<span class="fa-li pe-2">
									<i class="fas fa-film"></i>
								</span>Canoe</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">
								<span class="fa-li pe-2">
									<i class="fas fa-tv"></i>
								</span>Kayak</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">
								<span class="fa-li pe-2">
									<i class="fas fa-user-friends"></i>
								</span>Paddle</a>
						</li>
					</ul>
					<form class="d-flex" method="POST" action="{{ app.request.uri }}">
						<input name="search_field" type="search" class="form-control" placeholder="Product search" aria-label="Search">
						<button class="btn" type="submit"><img style="height: 30px; width: 30px;" class="ms-2" src="{{asset('images/search.png')}}"></button>
					</form>
				</div>
			</form>

			<ul class="navbar-nav ms-3">
				<li class="nav-item">
					<a class="nav-link d-flex align-items-center me-2" href="{{ path('route_contact') }}">
						<i class="fas fa-bookmark pe-2"></i>
						Contact
					</a>
				</li>
				<li class="nav-item" style="width: 65px;">
					<a class="nav-link d-flex align-items-center" href="#!">Sign In</a>
				</li>
				<li class="nav-item" style="width: 75px;">
					<a class="nav-link d-flex align-items-center" href="#!">Sign Up</a>
				</li>
			</ul>
		</div>
		<!-- Collapsible wrapper -->
		<div class="">
			<a href="{{ path('app_panier') }}"><img src="{{asset("images/basket.png")}}" style="height: 35px;" alt=""></a>
		</div>
		<div class="row">
			<p class="mt-3" style="color: white;">Total 0,00 $</p>
		</div>
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
