{% extends 'core/base.html.twig' %}
{% form_theme formEtat 'bootstrap_5_layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="">
			<div class="rounded-3 shadow p-3 bg-body">
				<div class="row">
					<h3 class="col-6 fst-italic fw-bold">Your command</h3>
					<h3 class="col-6 fst-italic text-end">{{commandes.etat}}
						<i class="ms-2 fa-sharp fa-solid fa-parachute-box"></i>
					</h3>
				</div>
				<hr>
				{% if is_granted("ROLE_ADMIN") %}
					{{ form_start(formEtat) }}
					<div class="fw-bold mb-5 col-3">
						{{ form_row(formEtat.etat) }}
					</div>
					{{ form_end(formEtat)}}
				{% endif %}

				<div class="row mb-5">
					<div class="col-6 fs-5 ms-4">
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Order number
							</label>
							<label class="col-6 text-end">{{ commandes.idCommande }}</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Number of items
							</label>
							<label class="col-6 text-end">{{ commandes.achats | length }}</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Order date
							</label>
							<label class="col-6 text-end">{{ commandes.getDateFormat() }}</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Order date
							</label>
							<label class="col-6 text-end">Coming soon...</label>
							<hr>
						</div>
					</div>
					<div class="col-5 fs-5">
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Subtotal
							</label>
							<label class="col-6 text-end">{{ commandes.getSommeAchats()|number_format(2, '.', ',') }}
								$</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Shipping cost
							</label>
							<label class="col-6 text-end">{{ commandes.fraisLivraison|number_format(2, '.', ',') }}
								$</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Taxes
							</label>
							<label class="col-6 text-end">{{ commandes.getTaxesAchats()|number_format(2, '.', ',') }}
								$</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Totals
							</label>
							<label class="col-6 text-end">{{ commandes.getSommeTotalAchats()|number_format(2, '.', ',') }}
								$</label>
							<hr>
						</div>
					</div>
				</div>

				<table class="table table-bordered">
					<thead>
						<tr class="bg-secondary fs-5 fw-bold text-white text-center">
							<th scope="col">
								Product
							</th>
							<th scope="col">
								Name
							</th>
							<th scope="col">
								Price
							</th>
							<th scope="col">
								Quantity
							</th>
							<th scope="col">
								Total
							</th>
						</tr>
					</thead>
					<tbody class="text-center align-middle">
						{% for key, achat in commandes.achats %}
							<tr>
								<td class="" style="width: 95px;">
									<img class="img-fluid" style="height: 80px;" src="{{ asset_if('images/' ~ achat.produit.imagePath, 'images/imageNonDispo.png' )}}" alt="product">
								</td>
								<td class="" style="">
									<label class="fw-bold fs-5">{{achat.produit.nom}}</label>
								</td>
								<td class="" style="">
									<label class="fw-bold fs-5">{{achat.produit.prix}}
										$</label>
								</td>

								<td class="">
									<label class="text-center fw-bold fs-5" style="width: 40px;">{{ achat.getQuantite() }}</label>
								</td>
								<td class="">
									<label class="fw-bold fs-5" value="">{{ achat.getPrixAchat()|number_format(2, '.', ',') }}
										$</label>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
{% endblock %}

{% block javascripts %}
	<script defer src="{{ asset('scripts/onEtatChanger.js')}}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
