{% extends 'core/base.html.twig' %}
{% form_theme formNewProduit 'bootstrap_5_layout.html.twig' %}

{% block content %}
	{% if isNewProduct %}
		<h1 class="fst-italic mt-5 mb-5">Add a New Product</h1>
	{% else %}
		<h1 class="fst-italic mt-5 mb-5">Modify a Product</h1>
	{% endif %}
	<div class="row">
		{{ form_start(formNewProduit , {'attr': {'class': 'needs-validation-register', 'novalidate': 'novalidate' }}) }}
		<div class="row">
			<div class="col-6">
				{{ form_row(formNewProduit.idCategorie) }}
			</div>
			<div class="col-6">
				{{ form_row(formNewProduit.nom) }}
			</div>
			<div class="col-6">
				{{ form_row(formNewProduit.prix) }}
			</div>
			<div class="col-6">
				{{ form_row(formNewProduit.quantiteEnStock) }}
			</div>
			<div class="">
				{{ form_row(formNewProduit.description) }}
			</div>
			<div class="">
				{{ form_row(formNewProduit.imagePath) }}
			</div>
			{% if isNewProduct %}
				<div class="d-flex justify-content-center mt-2">
					{{ form_row(formNewProduit.btnSave, {'label': 'Add Product'}) }}
				</div>
			{% else %}
				<div class="d-flex justify-content-center mt-2">
					{{ form_row(formNewProduit.btnSave, {'label': 'Modify product'}) }}
				</div>
			{% endif %}
		</div>
	</div>
	{{ form_end(formNewProduit) }}
</div>{% endblock %}
