{% extends 'core/base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="">
			<div class="rounded-3 shadow p-3 bg-body">
				<div class="row">
					<h3 class="col-6 fst-italic fw-bold">Your command</h3>
					<h3 class="col-6 fst-italic text-end">In preparation
						<i class="ms-2 fa-sharp fa-solid fa-parachute-box"></i>
					</h3>
				</div>
				<hr>
				{% if is_granted("ROLE_ADMIN") %}
					<div class="mb-3 ">
						<select class="form-select w-25" name="etat" id="etat">
							<option value="In preparation">In preparation</option>
							<option value="Sent">Sent</option>
							<option value="In transit">In transit</option>
							<option value="Delivered">Delivered</option>
						</select>
					</div>
				{% endif %}

				{% for flash in app.flashes('achat') %}
					<div class="alert {{ flash.color }}">{{ flash.content }}</div>
				{% endfor %}

				<div class="row mb-5">
					<div class="col-5 fs-5 ms-4">
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Order number
							</label>
							<label class="col-6 text-end">{{ commandes.idCommande }}</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Number of items
							</label>
							<label class="col-6 text-end">{{ commandes.achats | length }}</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Order date
							</label>
							<label class="col-6 text-end">{{ commandes.getDateFormat() }}</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Order date
							</label>
							<label class="col-6 text-end">Coming soon...</label>
							<hr>
						</div>
					</div>
					<div class="col-3 fs-5">
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Subtotal
							</label>
							<label class="col-6 text-end">{{ commandes.getSommeAchats()|number_format(2, '.', ',') }}
								$</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Shipping cost
							</label>
							<label class="col-6 text-end">{{ commandes.fraisLivraison|number_format(2, '.', ',') }}
								$</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Taxes
							</label>
							<label class="col-6 text-end">{{ commandes.getTaxesAchats()|number_format(2, '.', ',') }}
								$</label>
							<hr>
						</div>
						<div class="row text-muted">
							<label class="col-6 fw-bold">
								Totals
							</label>
							<label class="col-6 text-end">{{ commandes.getSommeTotalAchats()|number_format(2, '.', ',') }}
								$</label>
							<hr>
						</div>
					</div>
					<div class="col-3 fs-5 rounded-3 shawdow bg-secondary text-white text-center ms-5">
						<div class="row ">
							<label class="fw-bold">
								Delivery address
							</label>
							<hr>
						</div>
						<div class="row mt-2">
							<label class="">{{ app.user.prenom }}
								{{ app.user.nom }}
							</label>
						</div>
						<div class="row ">
							<label class="">{{ app.user.adresse }}</label>
						</div>
						<div class="row ">
							<label class="">{{ app.user.ville }},
								{{ app.user.codePostal }}
							</label>
						</div>
					</div>
				</div>

				<table class="table table-bordered">
					<thead>
						<tr class="bg-secondary fs-5 fw-bold text-white text-center">
							<th scope="col">
								Product
							</th>
							<th scope="col">
								Name
							</th>
							<th scope="col">
								Price
							</th>
							<th scope="col">
								Quantity
							</th>
							<th scope="col">
								Total
							</th>
						</tr>
					</thead>
					<tbody class="text-center align-middle">
						{% for key, achat in commandes.achats %}
							<tr>
								<td class="" style="width: 95px;">
									<img class="img-fluid" style="height: 80px;" src="{{ asset_if('images/' ~ achat.produit.imagePath, 'images/imageNonDispo.png' )}}" alt="product">
								</td>
								<td class="" style="">
									<label class="fw-bold fs-5">{{achat.produit.nom}}</label>
								</td>
								<td class="" style="">
									<label class="fw-bold fs-5">{{achat.produit.prix}}
										$</label>
								</td>

								<td class="">
									<label class="text-center fw-bold fs-5" style="width: 40px;">{{ achat.getQuantite() }}</label>
								</td>
								<td class="">
									<label class="fw-bold fs-5" value="">{{ achat.getPrixAchat()|number_format(2, '.', ',') }}
										$</label>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if is_granted("ROLE_ADMIN") %}
					<div class="text-center">
						<a class="btnSaveOrder btn btn-success mt-2 mb-4 w-25 fw-bold" >Save
							<i class="ms-2 fa-solid fa-floppy-disk"></i>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}

	{% block javascripts %}
		<script defer src="{{ asset('scripts/order.js')}}"></script>
	{% endblock %}
